.topCatch{
    display: flex;
    width:80%;
    margin:30px auto;
}

.topCatch div{
    width:50%;
}
.topCatch div p{
    text-align: right;
}
.slider{
    position: relative;
    width: 70%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}
.topfirstview{
    height:600px;
}

@media screen{ /*and (max-width: 2000px){ */
    .slider{
        width: 100%;
        height: 100%px;
    }
    .img-01, .img-02, .img-03{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .img-01{
        background-image: url('https://img.travel.rakuten.co.jp/share/image_up/184636/LARGE/5fb05d21fef1b6a6484c200e86e1f0b501f7c71a.47.9.26.3.jpg');
        animation: slide-animation-01 24s infinite;
    }
    .img-02{
        background-image: url('https://img.travel.rakuten.co.jp/share/image_up/184636/LARGE/50b5776b5058d8f5fc11c028acb030ab08b60346.47.9.26.3.jpg');
        animation: slide-animation-02 24s infinite;
    }
    .img-03{
        background-image: url('https://img.travel.rakuten.co.jp/share/image_up/184636/LARGE/a7683baf89d443d875edd323fe48849c1c254865.47.9.26.3.jpg');
        animation: slide-animation-03 24s infinite;
    }
    @keyframes slide-animation-01 {
        0% {opacity: 1; transform: scale(1.0);}
        30% {opacity: 1;}
        40% {opacity: 0; transform: scale(1.15);}
        90% {opacity: 0}
        100% {opacity: 1; transform: scale(1.0);}
    }
    @keyframes slide-animation-02 {
        0% {opacity: 0;}
        30% {opacity: 0; transform: scale(1.1);}
        40% {opacity: 1;}
        60% {opacity: 1;}
        70% {opacity: 0; transform: scale(1.0);}
        100% {opacity: 0;}
    }
    @keyframes slide-animation-03 {
        0% {opacity: 0;}
        60% {opacity: 0;  transform: scale(1.0);}
        70% {opacity: 1;}
        90% {opacity: 1;}
        100% {opacity: 0; transform: scale(1.1);}
    }
}
.msg{
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.msg-01, .msg-02{
    text-shadow: 2px 2px 3px #000, -1px -1px 3px #000;
}
.img-03.cover::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
}
.msg-03{
    z-index:1;
}
#wrap{
    width: 80%;
    margin:0 auto;
    
}

.contents p{
    text-align: center;
}
.en{
    font-size: 50px;
    /* display: block; */
}
.ja{
    font-size: 15px;
    display: block;
}
.contents span{
    text-align: center;
    display:block;
}
.contents .ttl1 .en::first-letter{
    color:red;
}
.contents .ttl2{
    font-size: 20px;
    font-weight: bold;
}
.contents .tc img{
    width:1000px;
}
/*----------------------^^Box CSS ----------------------------*/
.box1 .ph-area{
    display: flex;
    justify-content: space-around; /* 子要素を均等に配置します */
    align-items: center; /* 子要素を縦方向の中心に揃えます */
}

.box1 .ph-area img{
    margin-top:0;
    max-width: 33%;/* 画像の最大幅を設定します */
    height: auto; /* 画像の縦横比を維持します */
}
.box1{
    width:100%;
    /* position: relative; */
    
}
.box1 >.txt-area> P{
    font-size: 80px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #fff;
    letter-spacing: -0.05em;
    line-height: .75;
    text-align: center;
}
.box1 .txt-area p{
    margin: 0;
    font-size: 30px;
}


.contents2{
    width:100%;
    margin:0 auto;
}
.link1{
    width:100%;
    margin:0 auto;
}

.link1 table{
    width:100%;
    margin:0 auto;
    background-color: white;
    
}

.link1 table tr td{
    margin:0 auto;
    width:50%;
    overflow: hidden;
    
    /* height:330px; */
   
}

.link1 table td img{
    display: block;
    width:100%;
    height:100%;
}

.item{
    position:relative;
    width:100%;
   
}
.ph{
    position: absolute;
    top:0px;
    left:0px;
    
}
.link1 .item .ttl{
    position: absolute;
    top:20px;
    left:45px;
    color:white;
}
.item .en {
    display: block;                  /* または inline-block */
    line-height: 0.9;
}
.item .ja {
    display: block;                  /* または inline-block */
    line-height: 3;
}
.link1 .item .txt{
    position:absolute;
    right:45px;
    bottom:20px;
    color:white;
}
.item a{
    text-decoration: none;
    display: block;
    width: 100%;
    height:330px;
    
}
.item h3{
    z-index: 1;
}
.item p{
    z-index:1;
}
/* .item a::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    margin: 0 auto;
    background-color: rgba(0, 93, 136, .5);
    backdrop-filter: blur(8px);
    z-index: 0;
    opacity:0;
    transition: opacity .5s ease;
} */
/* .item a:hover:after{
    opacity:0.9;
    
} */
/* Room Type----------end--------------- */
.facility{
    display: flex;
    justify-content: center;
    padding:40px 40px 0;
    gap:14px;
}

.facility .icon{
    width:60px;
    height:60px;
    border-radius:50%;      /* 完全な円にする */
    object-fit:cover;       /* 画像の切り抜き調整 */
    border:4px solid #d0d4d9; /* 白い枠 */
    box-shadow:0 4px 10px rgba(0,0,0,0.12);
    margin-bottom:5px;
}
.icon{
    display:block;
    mask-size:contain;
    mask-position:center;
    mask-repeat:no-repeat;   
}
.facility .icon img{
    width:30px;
    height:30px;
    transform: translate(50%, 50%);
    
}

.contents{
    width:1000px;
    margin:0 auto;
    background-color: rgb(138, 247, 255);
    
}
.box2{
    width:900px;
    padding: 20px 0px;
    display: flex;
    gap: 2px;
    margin:0 auto;
}
.box2>.contents_area{
    width: 450px;
    padding: 48px 40px;
    background-color: #fff;
}
.box2>.ph_area{
    width:450px;
    background-color: #fff;
}
.box2>.ph_area img:first-child{
    width:100%;
} 
.box2 .facility-box .facility img{
    width:30px;
    height:30px;
}
.contents2{
    padding:70px 0;
    width:1000px;
    margin:0 auto;
    background-color: rgb(198, 212, 212);
}
.contents2 span{
    text-align: center;
    display:block;
}
.contents2 .ttl1 .en::first-letter{
    color:red;
}
.box3{
    display: flex;
    flex-wrap:wrap;
    gap:20px 10px;
    
}
.box3 .item{
    width: calc(25% - 8px);
    background-color: #f4f4f4;
    
}

.box3 .item img{
    vertical-align: middle;
    border: none;
    max-width: 100%;
    

}
.box3>.item>.img-area{
    position: relative;
}
.box3>.item>.img-area>.img-area-ttl {
    position: absolute;
    bottom: 5px;
    left: 20px;
    font-family: Roboto, sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    letter-spacing: -0.05em;
    line-height: .85;
}
.box3>.item>.caption {
    padding: 16px 20px;
    position:relative;
}
.box3>.item>.caption>.ttl {
    font-size: 16px;
    font-weight: bold;
    color: #13283f;
    letter-spacing: .05em;
    line-height: 1.5;
    margin-bottom: 10px;
}
.box3>.item>.caption>.txt {
    font-size: 12px;
    margin-bottom: 5px;
}